[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
innodb_data_file_path = ibdata1:10M:autoextend
skip-log-bin
max_allowed_packet = 5G
skip-host-cache
skip-name-resolve
sql_mode = HIGH_NOT_PRECEDENCE

[mysql]
max_allowed_packet = 5G

